@{
    ViewData["Title"] = "SpielerAuswahl";
}

<style>
    .center-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 100vh;
    }

    form {
        margin-bottom: 20px;
    }

    ul {
        list-style-type: none;
        padding: 0;
    }

    button {
        cursor: pointer;
        margin-top: 20px;
    }
</style>

@{
    ViewData["Title"] = "SpielerAuswahl";
}

<div class="center-container">
    <h2>Spieler hinzufügen:</h2>

    <form method="post" asp-action="Spieler">
        <label for="spielerName">Spielername:</label>
        <input type="text" id="spielerName" name="spielerName" required>
        <button type="submit">Spieler adden</button>
    </form>

    <form method="post" asp-action="SetFragenpack">
        <label for="fragenpackId">Wähle ein Fragenpack:</label>
        <select id="fragenpackId" name="fragenpackId">
            @foreach (var fragenpack in ViewBag.Fragenpacks)
            {
                <option value="@fragenpack.Value">@fragenpack.Text</option>
            }
        </select>
        <button type="submit">Fragenpack festlegen</button>
    </form>

    <div class="spieler-container">
        @foreach (var spieler in ViewBag.PlayerList)
        {
            <div class="spieler-box">
                @spieler
                <a href="@Url.Action("DeleteSpieler", new { spielerName = spieler })" class="delete-button">x</a>
            </div>
        }
    </div>
    <button id="userButton" style="--content: 'User';" data-url="@Url.Action("Game", "Home")">Spiel starten</button>
</div>
@section Scripts {
    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            var userButton = document.getElementById('userButton');
            var userUrl = userButton.getAttribute('data-url');

            userButton.addEventListener('click', function () {
                window.location.href = userUrl;
            });
        });
    </script>
}